Repository TickLabVN/tpulse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt

chore: add missing dependencies
  package.json
Due: prettier --write

chore: add shortut shadcn command
  package.json
Due: prettier --write

fix(ui): fix textColor and textAlign
  src/pages/home/timeline/event.tsx
Due: eslint --fix, prettier --write

refactor: move constants to config module
  src-tauri/src/config/mod.rs
  src-tauri/src/config/oauth.rs
  src-tauri/src/google_calendar.rs
Due: rustfmt

feat(task): get all tasks in current day
  .eslintrc.cjs
  src/hooks/useEventListener.ts
  src/pages/DayView.tsx
  src/pages/TaskDialog.tsx
  src/pages/home/TodayTask.tsx
  src/services/db.ts
  src/services/task.ts
Due: eslint --fix, prettier --write

refactor(task): refactor task for db
  src-tauri/src/config/mod.rs
  src-tauri/src/config/user.rs
  src-tauri/src/main.rs
  src-tauri/src/watcher/window/window_query.rs
  src/hooks/index.ts
  src/hooks/useTaskData.ts
  src/interfaces/task.ts
  src/pages/home/TodayTask.tsx
  src/pages/home/task/TaskDialog.tsx
  src/pages/home/timeline/event.tsx
  src/pages/home/timeline/table.tsx
  src/services/db.ts
  src/services/index.ts
  src/services/task.ts
  src/utils/filterEvent.ts
Due: eslint --fix, prettier --write, rustfmt

fix: import paths and publish categorizer
  src-tauri/src/event_handler/logger/categorizer/helpers/inverted_index_categorizer/mod.rs
  src-tauri/src/event_handler/logger/categorizer/helpers/youtube_categorizer.rs
  src-tauri/src/event_handler/logger/categorizer/mod.rs
  src-tauri/src/event_handler/logger/mod.rs
  src-tauri/src/sqlite.rs
Due: rustfmt

fix: import paths and publish categorizer
  src-tauri/src/event_handler/logger/mod.rs
  src-tauri/src/sqlite.rs
Due: rustfmt

chore: migrate tauri from v1 to v2
  bun.lockb
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/migrated.json
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/linux-schema.json
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/services/db.ts
  src/services/syncTask.ts
Due: eslint --fix, prettier --write, rustfmt

remove unused code
  src-tauri/capabilities/migrated.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/src/lib.rs
  src-tauri/src/models.rs
Due: prettier --write, rustfmt

chore: update dependencies
  .eslintignore
  .eslintrc.cjs
  .prettierrc
  bun.lockb
  eslint.config.js
  package.json
  src/components/sidebar.tsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/datepicker.tsx
  src/components/ui/timepicker.tsx
  src/hooks/index.ts
  src/hooks/useMouse.ts
  src/hooks/useOutsideClick.ts
  src/hooks/useTaskData.ts
  src/main.tsx
  src/pages/home/TodayTask.tsx
  src/pages/home/index.tsx
  src/pages/home/task/InputItem.tsx
  src/pages/home/task/TaskDialog.tsx
  src/pages/home/timeline/event.tsx
  src/pages/home/timeline/index.tsx
  src/pages/home/timeline/table.tsx
  src/routeTree.gen.ts
  src/routes/index.tsx
  src/services/db.ts
  src/services/syncTask.ts
  src/services/task.ts
  src/states/task.state.ts
  src/utils/domTarget.ts
  src/utils/filterEvent.ts
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: split out migrations from `init` module
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/main.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/src/db/migration.rs
  src-tauri/src/db/mod.rs
  src-tauri/src/db/seed.rs
  src-tauri/src/db/sqlite.rs
  src-tauri/src/event_handler/logger/mod.rs
  src-tauri/src/initializer/db.rs
  src-tauri/src/initializer/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/watcher/afk.rs
  src-tauri/src/watcher/window/mod.rs
Due: prettier --write, rustfmt

replace some std logs
  src-tauri/src/app_config.rs
  src-tauri/src/google_calendar.rs
  src-tauri/src/google_oauth.rs
  src-tauri/src/raw_metric_processor/mod.rs
  src-tauri/src/raw_metric_processor/processors/default_processor.rs
  src-tauri/src/raw_metric_processor/processors/youtube_processor.rs
Due: rustfmt

remove unused code
  eslint.config.js
  src-tauri/src/main.rs
  src-tauri/src/watcher/window/mod.rs
  src-tauri/tauri.conf.json
  src/hooks/index.ts
  src/hooks/useMouse.ts
  src/routeTree.gen.ts
Due: eslint --fix, prettier --write, rustfmt

refactor: remove old task create popup
  src/pages/home/TodayTask.tsx
  src/pages/home/task/InputItem.tsx
  src/pages/home/task/TaskDialog.tsx
  src/pages/home/timeline/index.tsx
  src/states/index.ts
  src/states/task.state.ts
Due: eslint --fix, prettier --write

chore: replace `console.log` by `@tauri-apps/plugin-log`
  bun.lockb
  package.json
  src/main.tsx
  src/services/syncTask.ts
  src/services/task.ts
  src/utils/log.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix(sql): grant permission to execute select queries
  src-tauri/capabilities/main.json
  src-tauri/gen/schemas/capabilities.json
Due: prettier --write

fix(sql): update data path (related issue https://github.com/tauri-apps/plugins-workspace/issues/1499)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src/services/db.ts
Due: eslint --fix, prettier --write, rustfmt

refactor: change `tasks` table schema
  src-tauri/src/db/migration.rs
Due: rustfmt

chore: change window config
  src-tauri/tauri.conf.json
Due: prettier --write

feat: display tasks in timeline table & task panel
  src-tauri/src/main.rs
  src-tauri/src/watcher/browser/utils.rs
  src-tauri/src/watcher/window/mod.rs
  src/hooks/index.ts
  src/hooks/useTaskData.ts
  src/interfaces/event.ts
  src/interfaces/index.ts
  src/interfaces/task.ts
  src/pages/home/TodayTask.tsx
  src/pages/home/timeline/event.tsx
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/table.tsx
  src/services/activityLog.ts
  src/services/index.ts
  src/services/task.ts
  src/utils/filterEvent.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write, rustfmt

layout timeline span component
  src/pages/home/TodayTask.tsx
  src/pages/home/timeline/event.tsx
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/timeSpan.tsx
  src/utils/getRandomColor.ts
  src/utils/index.ts
  src/utils/time.ts
Due: eslint --fix, prettier --write

chore: use biome instead eslint & prettier
  .barrelsby.json
  .lintstagedrc
  .prettierignore
  .prettierrc
  biome.json
  bun.lockb
  components.json
  eslint.config.js
  package.json
  postcss.config.js
  src/components/ui/badge.tsx
  src/components/ui/datepicker.tsx
  src/components/ui/timepicker.tsx
  src/main.tsx
  src/pages/home/timeline/table.tsx
  src/pages/home/timeline/timeSpan.tsx
  src/routeTree.gen.ts
  src/services/syncTask.ts
  src/utils/domTarget.ts
  src/utils/index.ts
  src/utils/log.ts
  src/utils/typeChecker.ts
  tsconfig.json
Due: eslint --fix, prettier --write

remove unused dependencies
  .lintstagedrc
  biome.json
  bun.lockb
  package.json
  src/pages/home/timeline/index.tsx
Due: eslint --fix, prettier --write

remove husky & lint-staged
  .husky/post-commit
  .husky/pre-commit
  .lintstagedrc
  barrelsby.json
  bun.lockb
  lefthook.yml
  package.json
Due: prettier --write

feat(time table): create span to display user activites
  biome.json
  bun.lockb
  package.json
  src/components/ui/badge.tsx
  src/components/ui/tooltip.tsx
  src/main.tsx
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/table.tsx
  src/pages/home/timeline/timeSpan.tsx
  src/routeTree.gen.ts
  src/utils/time.ts
Due: eslint --fix, prettier --write

remove `react-toastify`
  bun.lockb
  package.json
  src/main.tsx
Due: eslint --fix, prettier --write

remove complex query range calculation
  bun.lockb
  package.json
  src/main.tsx
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/table.tsx
Due: eslint --fix, prettier --write

provide height & position of each activity log span
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/table.tsx
  src/pages/home/timeline/timeSpan.tsx
Due: eslint --fix, prettier --write

apply react virtualize render
  bun.lockb
  package.json
  src/main.tsx
  src/pages/home/index.tsx
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/table.tsx
  src/pages/home/timeline/tableHeader.tsx
Due: eslint --fix, prettier --write

fix(time table): remove height & top scale of each activity
  barrelsby.json
  bun.lockb
  package.json
  src-tauri/capabilities/main.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/src/raw_metric_processor/processors/default_processor.rs
  src/components/index.ts
  src/components/ui/button.tsx
  src/constants/index.ts
  src/constants/time.ts
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/table.tsx
  src/pages/home/timeline/timeSpan.tsx
Due: eslint --fix, prettier --write, rustfmt

chore: add `env_logger` to pretty print log
  src-tauri/.env.example
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/src/raw_metric_processor/mod.rs
  src-tauri/src/raw_metric_processor/processors/default_processor.rs
  src-tauri/src/watcher/afk.rs
  src-tauri/src/watcher/browser/mod.rs
  src-tauri/src/watcher/browser/utils.rs
  src-tauri/src/watcher/window/mod.rs
Due: rustfmt

remove initializer
  src-tauri/src/event_handler/logger/mod.rs
  src-tauri/src/initializer/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/raw_metric_processor/init.rs
  src-tauri/src/raw_metric_processor/mod.rs
  src-tauri/src/watcher/afk.rs
  src-tauri/src/watcher/browser/mod.rs
  src-tauri/src/watcher/window/mod.rs
Due: rustfmt

chore: rename watcher to collector
  src-tauri/src/app.rs
  src-tauri/src/collector/afk.rs
  src-tauri/src/collector/browser/mod.rs
  src-tauri/src/collector/browser/utils.rs
  src-tauri/src/collector/mod.rs
  src-tauri/src/collector/window/mod.rs
  src-tauri/src/collector/window/window_query.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/metrics.rs
  src-tauri/src/processor/init.rs
  src-tauri/src/processor/mod.rs
  src-tauri/src/raw_metric_processor/mod.rs
Due: rustfmt

rewrite processor architect
  src-tauri/src/app.rs
  src-tauri/src/main.rs
  src-tauri/src/metrics.rs
  src-tauri/src/processor/browser.rs
  src-tauri/src/processor/init.rs
  src-tauri/src/processor/metric.rs
  src-tauri/src/processor/mod.rs
  src-tauri/src/processor/vscode.rs
  src-tauri/src/processor/youtube.rs
  src-tauri/src/raw_metric_processor/processors/vscode_processor.rs
Due: rustfmt

chore: update window dependencies
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

fix(collector): return type different between target os
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/windows-schema.json
  src-tauri/src/collector/browser/mod.rs
  src-tauri/src/collector/browser/utils.rs
  src-tauri/src/collector/window/window_query.rs
Due: prettier --write, rustfmt

chore: format code
  bun.lockb
  src-tauri/src/collector/window/mod.rs
  src-tauri/src/collector/window/window_query.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/metrics.rs
  src-tauri/src/processor/mod.rs
Due: rustfmt

chore: remove rust code formatting hook on windows (fuk windows)
  lefthook.yml
Due: none

deps: migrate from `dotenv` to `dotenvy`
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/rustfmt.toml
  src-tauri/src/main.rs
Due: rustfmt

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json}
  rustfmt: any of: **/*.rs
