Repository TickLabVN/tpulse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt

feat: apply channel to communicate between threads
  src-tauri/src/event_handler.rs
  src-tauri/src/events.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/watcher/afk.rs
  src-tauri/src/watcher/window.rs
Due: rustfmt

feat(macos-window-querry): add first implemention for supporing macos window querry
  src-tauri/Cargo.toml
  src-tauri/src/watcher/window_query.rs
Due: rustfmt

feat(send-metrics): initial clone
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/metrics_handler.rs
Due: rustfmt

feat(send-metrics): add send-metrics
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/src/metrics_handler.rs
Due: rustfmt

feat(send-metrics): add pipe server
  src-tauri/src/main.rs
  src-tauri/src/metrics_handler.rs
Due: rustfmt

feat(send-metrics): complete for both unix and window
  src-tauri/Cargo.toml
  src-tauri/src/metrics_handler.rs
Due: rustfmt

feat(send-metrics): remove unnedded package
  src-tauri/Cargo.lock
Due: none

feat(send-metrics): add for window and unix
  src-tauri/src/metrics_handler.rs
Due: rustfmt

feat(send-metrics): change path name
  src-tauri/src/metrics_handler.rs
Due: rustfmt

feat(csv-processing): load table from a file csv
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/Tracking_Rule_Package_Default_Export.csv
  src-tauri/result.txt
  src-tauri/src/categorizer/loader.rs
  src-tauri/src/categorizer/mod.rs
  src-tauri/src/lib.rs
Due: rustfmt

fix(filter): truncate meaningful columns of the csv file
  src-tauri/result.txt
  src-tauri/src/categorizer/loader.rs
Due: rustfmt

feat(analyzer): create data structure for token-analyzer
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/categorizer/analyzer.rs
  src-tauri/src/categorizer/mod.rs
  src-tauri/src/sqlite.rs
  src-tauri/src/watcher/window.rs
Due: rustfmt

feat(indexing): create data structure for indexing
  src-tauri/src/categorizer/analyzer.rs
  src-tauri/src/categorizer/indexing.rs
  src-tauri/src/categorizer/mod.rs
  src-tauri/src/initializer/db.rs
Due: rustfmt

feat(app_url): build app_url document to prepare for the token analysis step
  src-tauri/app_url_name.txt
  src-tauri/result.txt
  src-tauri/src/categorizer/indexing.rs
  src-tauri/src/categorizer/loader.rs
Due: rustfmt

test(lexer): test function generate_token_index
  src-tauri/src/categorizer/indexing.rs
  src-tauri/src/categorizer/mod.rs
  src-tauri/token.txt
Due: rustfmt

feat(send-metrics): resolve package with master branch
  src-tauri/Cargo.toml
Due: none

feat(categorize_events): categorize window metric from window watcher
  src-tauri/category_result.txt
  src-tauri/src/categorizer/indexing.rs
  src-tauri/src/categorizer/mod.rs
  src-tauri/src/event_handler.rs
  src-tauri/src/watcher/window.rs
Due: rustfmt

docs: add document for pub function and struct
  src-tauri/src/categorizer/analyzer.rs
  src-tauri/src/categorizer/indexing.rs
  src-tauri/src/categorizer/loader.rs
Due: rustfmt

feat(send-metrics): commit before switching to timeline-table
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

feat(template): integrate UI library into project
  .barrelsby.json
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  src/pages/Page.tsx
  src/pages/index.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore(template): config Tailwind utility
  package.json
  postcss.config.js
  src/App.tsx
  src/index.css
  src/main.tsx
  src/pages/Page.tsx
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

feat(router): implement file-based routing with @tanstack/react-router
  .barrelsby.json
  package.json
  src/App.tsx
  src/main.tsx
  src/pages/index.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/index.tsx
  src/routes/page.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(timeline table): dayview treemap implement
  package.json
  src-tauri/src/main.rs
  src/App.css
  src/App.tsx
  src/DayView.tsx
  src/index.css
  yarn.lock
Due: eslint --fix, prettier --write, rustfmt

feat(template frontend): add drag handle
  src/DayView.tsx
Due: eslint --fix, prettier --write

feat(template frontend): remove AFK column and refactor component
  src-tauri/src/main.rs
  src/pages/DayView.tsx
Due: eslint --fix, prettier --write, rustfmt

feat(day-view): add more UI/UX and implementation of mouse drag effect
  src-tauri/Cargo.toml
  src-tauri/src/events.rs
  src-tauri/src/metrics_handler.rs
  src/pages/DayView.tsx
Due: eslint --fix, prettier --write, rustfmt

feat(setting): read setting from json file
  src-tauri/setting.json
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/setting.rs
Due: prettier --write, rustfmt

fix(setting): add Default trait for AppConfig
  src-tauri/src/setting.rs
Due: rustfmt

feat(template-frontend): complete for dragging and creating rectangle
  src-tauri/src/main.rs
  src/pages/DayView.tsx
Due: eslint --fix, prettier --write, rustfmt

feat(template-frontend): fix errors when creating rectangle on mouse moving
  src-tauri/src/main.rs
  src-tauri/src/watcher/window_query.rs
  src/pages/DayView.tsx
Due: eslint --fix, prettier --write, rustfmt

feat(google calendar): integrate google calendar
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/rustfmt.toml
  src-tauri/src/google_calendar.rs
  src-tauri/src/lib.rs
Due: rustfmt

feat(custom-hook): add useZoom hook to scale svg element
  .barrelsby.json
  .eslintrc.cjs
  package.json
  src/hooks/index.ts
  src/hooks/useZoom.ts
  src/pages/DayView.tsx
  src/routes/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(template-frontend): modify dialog UI and implement drag and widen length of planning task
  package.json
  src-tauri/src/main.rs
  src/pages/DayView.tsx
  src/pages/TaskDialog.tsx
  yarn.lock
Due: eslint --fix, prettier --write, rustfmt

fix(timeline-table): fix some UX bug
  src/pages/DayView.tsx
Due: eslint --fix, prettier --write

feat: adjust google_calendar save authorization code and pkce verifier secret to config file
  .gitignore
  src-tauri/.taurignore
  src-tauri/setting.example.json
  src-tauri/src/google_calendar.rs
  src-tauri/src/main.rs
  src-tauri/src/setting.rs
Due: prettier --write, rustfmt

fix(google carlendar): save redirect port and google access token to setting.json
  src-tauri/src/google_calendar.rs
  src-tauri/src/setting.rs
Due: rustfmt

refactor(DayView): extract utils and use moment instead of javascript date
  .barrelsby.json
  .eslintrc.cjs
  package.json
  src/hooks/useZoom.ts
  src/main.tsx
  src/pages/DayView.tsx
  src/pages/TaskDialog.tsx
  src/pages/index.ts
  src/routes/index.tsx
  src/utils/index.ts
  src/utils/time.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

refactor(google carlendar): using std to handle tcp and http connection instead of tokio
  src-tauri/setting.example.json
  src-tauri/src/google_calendar.rs
  src-tauri/src/main.rs
Due: prettier --write, rustfmt

fix(google calendar): set timeout for wait oauth request from google
  src-tauri/src/google_calendar.rs
  src-tauri/src/main.rs
Due: rustfmt

fix(google calendar): retrieve access token using refresh token instead of directly using auth code
  src-tauri/src/google_calendar.rs
Due: rustfmt

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json}
  rustfmt: any of: **/*.rs
