Repository TickLabVN/tpulse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt

feat(setting): implement remove setting function
  src-tauri/src/setting.rs
Due: rustfmt

fix(google calendar): implement mechanism of re-authorize when refresh token is invalid
  src-tauri/src/google_calendar.rs
Due: rustfmt

refactor(google calendar): add location and color attribute to result
  src-tauri/Cargo.lock
  src-tauri/src/google_calendar.rs
  src-tauri/src/main.rs
Due: rustfmt

refactor(DayView): create custom hook useMouse
  .barrelsby.json
  .eslintrc.cjs
  package.json
  src/hooks/index.ts
  src/hooks/useEventListener.ts
  src/hooks/useMouse.ts
  src/interfaces/domTarget.ts
  src/interfaces/index.ts
  src/routes/index.tsx
  src/utils/domTarget.ts
  src/utils/typeChecker.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(template/front-end): no change
  src-tauri/src/main.rs
  src/pages/DayView.tsx
  src/pages/TaskDialog.tsx
Due: eslint --fix, prettier --write, rustfmt

feat: adjust database structure; add mockdata; reset mockdata whenever app restart;
  src-tauri/src/initializer/db.rs
  src-tauri/src/main.rs
  src-tauri/src/sqlite.rs
Due: rustfmt

fix(metrics_handler-ubuntu): create pipe only if haven't created
  src-tauri/src/metrics_handler.rs
Due: rustfmt

feat(metrics_handler-ubuntu): save browser data from pipe to sqlite
  src-tauri/src/events.rs
  src-tauri/src/metrics_handler.rs
  src-tauri/src/sqlite.rs
Due: rustfmt

chore: infinite render
  package.json
  src/pages/RefactorHomePage.tsx
  src/pages/index.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/index.tsx
  src/routes/refactor.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat(storage-matrix): resolve conflict with origin branch storage matrix
  .gitignore
  package.json
  src-tauri/.taurignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/rustfmt.toml
  src-tauri/src/google_calendar.rs
  src-tauri/src/initializer/db.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/setting.rs
  src-tauri/src/sqlite.rs
  src-tauri/test
  src/pages/DayView.tsx
  yarn.lock
Due: eslint --fix, prettier --write, rustfmt

feat(show-data): create new branch show-data from storage-matrix
  src-tauri/src/events.rs
  src-tauri/src/metrics_handler.rs
  src-tauri/src/sqlite.rs
  src-tauri/src/watcher/window_query.rs
  src-tauri/test
  src-tauri/test-journal
Due: rustfmt

refactor: group workers together
  src-tauri/src/main.rs
Due: rustfmt

chore: update deps
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

feat(show-data): complete mock data
  src-tauri/src/initializer/db.rs
  src-tauri/src/main.rs
  src/pages/DayView.tsx
  src/utils/getRandomColor.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write, rustfmt

chore: resolve conflict
  .gitignore
  src-tauri/.taurignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/rustfmt.toml
  src-tauri/src/google_calendar.rs
  src-tauri/src/initializer/db.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/setting.rs
  src-tauri/src/sqlite.rs
Due: rustfmt

feat(show-data): push mock data to UI
  src-tauri/src/main.rs
  src/pages/DayView.tsx
Due: eslint --fix, prettier --write, rustfmt

feat(show-data): store data from pipe to database v2 and show mockdata in UI
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/events.rs
  src-tauri/src/initializer/db.rs
  src-tauri/src/main.rs
  src-tauri/src/metrics_handler.rs
  src-tauri/src/sqlite.rs
  src-tauri/src/utils/get_data_directory.rs
  src/pages/DayView.tsx
Due: eslint --fix, prettier --write, rustfmt

feat: implement sidebar
  .barrelsby.json
  public/logo.svg
  src/components/index.ts
  src/components/sidebar.tsx
  src/pages/DayView.tsx
  src/routes/__root.tsx
  src/routes/index.tsx
  src/routes/page.tsx
  tailwind.config.js
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat(show-data): add dependencies
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

feat(metrics_handler.rs): parse brower data from extension
  src-tauri/src/events.rs
  src-tauri/src/main.rs
  src-tauri/src/metrics_handler.rs
  src-tauri/src/sqlite.rs
  src-tauri/src/watcher/afk.rs
Due: rustfmt

feat(storage-matrix-to-database): show data from sqlite into frontend
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/events.rs
  src-tauri/src/initializer/db.rs
  src-tauri/src/metrics_handler.rs
  src-tauri/src/sqlite.rs
  src/pages/DayView.tsx
Due: eslint --fix, prettier --write, rustfmt

feat: add clock UI
  .barrelsby.json
  bun.lockb
  package.json
  public/sample_avatar.png
  public/timer_play.svg
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/pages/DayView.tsx
  src/pages/home/Timer.tsx
  src/pages/home/index.tsx
  src/pages/index.ts
  src/routes/__root.tsx
  src/routes/index.tsx
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(tasks): add UI layout for tasks
  .eslintrc.cjs
  src/components/sidebar.tsx
  src/global.d.ts
  src/pages/home/Timer.tsx
  src/pages/home/TodayTask.tsx
  src/pages/home/index.tsx
  src/utils/time.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

feat(time table): create layout UI
  bun.lockb
  package.json
  public/home/sample_avatar.png
  public/home/time.svg
  public/home/timer_play.svg
  src/components/sidebar.tsx
  src/hooks/index.ts
  src/hooks/useZoom.ts
  src/index.css
  src/pages/home/Timer.tsx
  src/pages/home/TodayTask.tsx
  src/pages/home/index.tsx
  src/pages/home/timeline/index.tsx
  src/pages/home/timeline/table.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: apply scroll for time table
  src/index.css
  src/pages/home/TodayTask.tsx
  src/pages/home/timeline/table.tsx
Due: eslint --fix, prettier --write

chore: remove unused code & add shadcn ui
  .eslintignore
  .eslintrc.cjs
  bun.lockb
  components.json
  package.json
  src/global.d.ts
  src/hooks/useMouse.ts
  src/pages/DayView.tsx
  src/pages/TaskDialog.tsx
  src/pages/home/TodayTask.tsx
  src/pages/home/timeline/table.tsx
  src/routes/__root.tsx
  src/routes/index.tsx
  src/routes/page.tsx
  src/utils/cn.ts
  src/utils/domTarget.ts
  tailwind.config.js
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore: remove `@primer/react` from UI components
  .eslintrc.cjs
  bun.lockb
  package.json
  src/components/index.ts
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/checkbox.tsx
  src/main.tsx
  src/pages/home/TodayTask.tsx
  src/pages/home/index.tsx
  src/utils/index.ts
Due: eslint --fix, prettier --write

fix: skip retrieve data while there no active window (Alt + F4)
  src-tauri/src/initializer/db.rs
  src-tauri/src/main.rs
  src-tauri/src/sqlite.rs
  src-tauri/src/watcher/window.rs
  src-tauri/src/watcher/window_query.rs
Due: rustfmt

refactor(google-calendar): use snake_case instead of camelCase
  src-tauri/src/google_calendar.rs
Due: rustfmt

refactor: reorganize watcher modules
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/watcher/browser/mod.rs
  src-tauri/src/watcher/browser/utils.rs
  src-tauri/src/watcher/mod.rs
  src-tauri/src/watcher/window/mod.rs
  src-tauri/src/watcher/window/window_query.rs
Due: rustfmt

chore(tauri): config tauri to use bun
  src-tauri/tauri.conf.json
Due: prettier --write

refactor(metrics-models): rename structs to better reflect their intention
  src-tauri/src/event_handler.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/metrics.rs
  src-tauri/src/models.rs
  src-tauri/src/sqlite.rs
  src-tauri/src/watcher/afk.rs
  src-tauri/src/watcher/window/mod.rs
  src-tauri/src/watcher/window/window_query.rs
Due: rustfmt

fix(metric): rename browser metric type
  src-tauri/src/metrics.rs
Due: rustfmt

feat(models): create LogModel as a return type for raw metrics processor
  src-tauri/src/models.rs
Due: rustfmt

docs: add implementation strategy for timeline table
  docs/assets/Timeline.png
  docs/assets/screen.png
  docs/timetable.md
  postcss.config.js
  src/pages/home/timeline/table.tsx
Due: eslint --fix, prettier --write

feat(timetable): calculate query range
  docs/timetable.md
  src/pages/home/timeline/table.tsx
Due: eslint --fix, prettier --write

fix(google_calendars): calendarInfo use camelCase for deserialize
  src-tauri/src/google_calendar.rs
Due: rustfmt

fix(timetable): render table base on time unit
  src/pages/home/timeline/table.tsx
Due: eslint --fix, prettier --write

refactor(model.rs): split logModel to Start and Update end time models
  src-tauri/src/models.rs
Due: rustfmt

chore: create raw_metric_processor module
  src-tauri/src/lib.rs
  src-tauri/src/raw_metric_processor/mod.rs
Due: rustfmt

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json}
  rustfmt: any of: **/*.rs
