Repository TickLabVN/tpulse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt

chore: update linux permission schema
  src-tauri/gen/schemas/linux-schema.json
Due: prettier --write

refactor: group metric collectors, processors & categorizers into one module
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/metric/categorizer/mod.rs
  src-tauri/src/metric/categorizer/youtube.rs
  src-tauri/src/metric/collector/afk.rs
  src-tauri/src/metric/collector/browser/mod.rs
  src-tauri/src/metric/collector/browser/utils.rs
  src-tauri/src/metric/collector/mod.rs
  src-tauri/src/metric/collector/window/mod.rs
  src-tauri/src/metric/collector/window/window_query.rs
  src-tauri/src/metric/mod.rs
  src-tauri/src/metric/processor/browser.rs
  src-tauri/src/metric/processor/metric.rs
  src-tauri/src/metric/processor/mod.rs
  src-tauri/src/metric/processor/vscode.rs
  src-tauri/src/metric/processor/youtube.rs
Due: rustfmt

refactor: simplify metric categorization steps
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/assets/browser.csv
  src-tauri/assets/window.csv
  src-tauri/src/db/sqlite.rs
  src-tauri/src/event_handler/logger/categorizer/helpers/inverted_index_categorizer/mod.rs
  src-tauri/src/event_handler/logger/categorizer/helpers/inverted_index_categorizer/utils.rs
  src-tauri/src/event_handler/logger/categorizer/helpers/mod.rs
  src-tauri/src/event_handler/logger/categorizer/helpers/vscode_categorizer.rs
  src-tauri/src/event_handler/logger/categorizer/helpers/youtube_categorizer.rs
  src-tauri/src/event_handler/logger/categorizer/mod.rs
  src-tauri/src/event_handler/logger/mod.rs
  src-tauri/src/event_handler/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/metric/categorizer/browser.rs
  src-tauri/src/metric/categorizer/metric.rs
  src-tauri/src/metric/categorizer/mod.rs
  src-tauri/src/metric/categorizer/util.rs
  src-tauri/src/metric/categorizer/window.rs
  src-tauri/src/metric/categorizer/youtube.rs
  src-tauri/src/metric/collector/afk.rs
  src-tauri/src/metric/collector/browser/mod.rs
  src-tauri/src/metric/collector/browser/utils.rs
  src-tauri/src/metric/collector/window/mod.rs
  src-tauri/src/metric/collector/window/window_query.rs
  src-tauri/src/metric/mod.rs
  src-tauri/src/metric/processor/browser.rs
  src-tauri/src/metric/processor/metric.rs
  src-tauri/src/metric/processor/mod.rs
  src-tauri/src/metric/processor/vscode.rs
  src-tauri/src/metric/processor/youtube.rs
  src-tauri/src/metrics.rs
  src-tauri/src/raw_metric_processor/init.rs
  src-tauri/src/raw_metric_processor/mod.rs
  src-tauri/src/raw_metric_processor/processors/browser_tab_processor.rs
  src-tauri/src/raw_metric_processor/processors/default_processor.rs
  src-tauri/src/raw_metric_processor/processors/mod.rs
  src-tauri/src/raw_metric_processor/processors/vscode_processor.rs
  src-tauri/src/raw_metric_processor/processors/youtube_processor.rs
Due: rustfmt

feat(window metric): combine fuzzy matching with score evaluation
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/metric/categorizer/browser.rs
  src-tauri/src/metric/categorizer/util.rs
  src-tauri/src/metric/categorizer/window.rs
  src-tauri/src/metric/collector/window/mod.rs
Due: rustfmt

chore: move event schema into `metric` module
  src-tauri/src/lib.rs
  src-tauri/src/metric/categorizer/browser.rs
  src-tauri/src/metric/categorizer/metric.rs
  src-tauri/src/metric/categorizer/mod.rs
  src-tauri/src/metric/categorizer/window.rs
  src-tauri/src/metric/collector/afk.rs
  src-tauri/src/metric/collector/browser/mod.rs
  src-tauri/src/metric/collector/browser/utils.rs
  src-tauri/src/metric/collector/window/mod.rs
  src-tauri/src/metric/collector/window/window_query.rs
  src-tauri/src/metric/mod.rs
  src-tauri/src/metric/schema.rs
Due: rustfmt

fix(browser metric): allow to consume multiple metrics
  src-tauri/assets/window.csv
  src-tauri/src/metric/categorizer/mod.rs
  src-tauri/src/metric/categorizer/processor.rs
  src-tauri/src/metric/collector/browser/mod.rs
  src-tauri/src/metric/collector/browser/utils.rs
  src-tauri/src/metric/collector/window/mod.rs
  src-tauri/src/metric/collector/window/window_query.rs
  src-tauri/src/metric/schema.rs
Due: rustfmt

fix collect metrics on windows
  src-tauri/src/metric/categorizer/processor.rs
  src-tauri/src/metric/collector/browser/mod.rs
  src-tauri/src/metric/collector/window/window_query.rs
Due: rustfmt

feat(metric): use application name & hostname as activity id
  src-tauri/Cargo.lock
  src-tauri/capabilities/main.json
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/linux-schema.json
  src-tauri/src/db/migration.rs
  src-tauri/src/db/seed.rs
  src-tauri/src/db/sqlite.rs
  src-tauri/src/metric/categorizer/browser.rs
  src-tauri/src/metric/categorizer/processor.rs
  src-tauri/src/metric/categorizer/window.rs
  src-tauri/src/metric/collector/browser/utils.rs
  src-tauri/src/metric/collector/window/mod.rs
  src-tauri/src/metric/collector/window/window_query.rs
  src-tauri/src/metric/schema.rs
Due: prettier --write, rustfmt

fix(categorize window): hash matched score by application name
  src-tauri/assets/browser.csv
  src-tauri/assets/window.csv
  src-tauri/src/metric/categorizer/browser.rs
  src-tauri/src/metric/categorizer/processor.rs
  src-tauri/src/metric/categorizer/util.rs
  src-tauri/src/metric/categorizer/window.rs
  src-tauri/src/metric/collector/window/window_query.rs
  src-tauri/src/metric/schema.rs
Due: rustfmt

insert browser activity to db
  src-tauri/src/db/sqlite.rs
Due: rustfmt

Restructure window query
  src-tauri/assets/window.csv
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/app.rs
  src-tauri/src/db/sqlite.rs
  src-tauri/src/main.rs
  src-tauri/src/metric/collector/window/linux.rs
  src-tauri/src/metric/collector/window/macos.rs
  src-tauri/src/metric/collector/window/mod.rs
  src-tauri/src/metric/collector/window/window_query.rs
  src-tauri/src/metric/collector/window/windows.rs
Due: prettier --write, rustfmt

fix(window): refactor macos window query
  src-tauri/src/metric/categorizer/util.rs
  src-tauri/src/metric/collector/window/linux.rs
  src-tauri/src/metric/collector/window/macos.rs
  src-tauri/src/metric/collector/window/windows.rs
  src-tauri/src/metric/schema.rs
Due: rustfmt

remove unused module
  src-tauri/src/utils/get_data_directory.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/utils/url.rs
Due: rustfmt

fix(google oauth): remove credentials & self-hosted authenticate server
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/app_config.rs
  src-tauri/src/config/oauth.rs
  src-tauri/src/db/sqlite.rs
  src-tauri/src/google/calendar.rs
  src-tauri/src/google/mod.rs
  src-tauri/src/google/oauth.rs
  src-tauri/src/google_calendar.rs
  src-tauri/src/google_oauth.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/metric/categorizer/browser.rs
Due: rustfmt

feat: obtain google access & refresh tokens
  src-tauri/src/config/mod.rs
  src-tauri/src/config/oauth.rs
  src-tauri/src/config/setting.rs
  src-tauri/src/config/user.rs
  src-tauri/src/google/oauth.rs
  src-tauri/src/main.rs
Due: rustfmt

feat: pull events from google calendar
  bun.lockb
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/main.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/src/app.rs
  src-tauri/src/config/setting.rs
  src-tauri/src/db/migration.rs
  src-tauri/src/google/calendar.rs
  src-tauri/src/google/mod.rs
  src-tauri/src/google/oauth.rs
  src-tauri/src/main.rs
  src-tauri/src/metric/categorizer/processor.rs
  src-tauri/tauri.conf.json
  src/main.tsx
  src/pages/home/timeline/index.tsx
  src/services/index.ts
  src/services/syncTask.ts
Due: eslint --fix, prettier --write, rustfmt

fix: change return type of get winfow information
  src-tauri/src/metric/collector/window/linux.rs
  src-tauri/src/metric/collector/window/windows.rs
Due: rustfmt

remove tauri plugin log
  bun.lockb
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/main.json
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/linux-schema.json
  src-tauri/src/main.rs
  src-tauri/src/metric/categorizer/processor.rs
  src/main.tsx
  src/pages/home/timeline/index.tsx
  src/services/index.ts
  src/services/plan.ts
  src/utils/log.ts
Due: eslint --fix, prettier --write, rustfmt

chore: remove `react-window`
  bun.lockb
  package.json
  src-tauri/src/app.rs
  src-tauri/src/google/calendar.rs
  src-tauri/src/main.rs
  src/constants/time.ts
  src/main.tsx
  src/pages/home/Timer.tsx
  src/pages/home/index.tsx
  src/pages/home/timeline/index.tsx
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/table.tsx
  src/pages/home/timeline/tableHeader.tsx
  src/services/db.ts
Due: eslint --fix, prettier --write, rustfmt

feat: display events on time table
  src/constants/index.ts
  src/constants/time.ts
  src/constants/timetable.ts
  src/pages/home/TodayTask.tsx
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/table.tsx
  src/pages/home/timeline/timeSpan.tsx
  src/services/activityLog.ts
  src/services/db.ts
  src/services/plan.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

fix(metric): missing module importation on Windows
  src-tauri/gen/schemas/windows-schema.json
  src-tauri/src/metric/collector/window/windows.rs
  src-tauri/tauri.conf.json
Due: prettier --write, rustfmt

feat(metric): save log when receive a metric
  src-tauri/src/db/migration.rs
  src-tauri/src/db/sqlite.rs
  src-tauri/src/main.rs
Due: rustfmt

fix(metric): forever opened activity when application shutdown #63
  src-tauri/src/config/setting.rs
  src-tauri/src/db/sqlite.rs
  src-tauri/src/google/calendar.rs
  src-tauri/src/metric/categorizer/processor.rs
  src-tauri/src/metric/collector/afk.rs
  src-tauri/src/metric/collector/window/linux.rs
  src-tauri/src/metric/collector/window/mod.rs
  src-tauri/src/metric/collector/window/windows.rs
  src-tauri/src/metric/mod.rs
  src-tauri/src/metric/schema.rs
Due: rustfmt

fix(metric): drop browser activities before application start
  src-tauri/src/metric/categorizer/processor.rs
Due: rustfmt

fix(metric): get latest log query not executed
  src-tauri/src/db/sqlite.rs
  src-tauri/src/metric/categorizer/processor.rs
Due: rustfmt

docs: remove stale doc files
  docs/architecture.md
  docs/assets/Timeline.png
  docs/assets/screen.png
  docs/collecting-data.md
  docs/timetable.md
Due: none

fix(google calendar): get deleted events & eliminate duplicated events
  docs/service-integration.md
  src-tauri/src/app.rs
  src-tauri/src/lib.rs
  src-tauri/src/service/google/calendar.rs
  src-tauri/src/service/google/mod.rs
  src-tauri/src/service/google/oauth.rs
  src-tauri/src/service/mod.rs
Due: rustfmt

fix: deleted events on Google calendar not sync with local events. #70
  src-tauri/src/service/google/calendar.rs
Due: rustfmt

fix: breaking UI on Windows #71
  src-tauri/src/main.rs
  src-tauri/src/service/google/calendar.rs
  src/constants/timetable.ts
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/timeSpan.tsx
Due: eslint --fix, prettier --write, rustfmt

fix(event): auto refetch google calendar to sync change
  src/constants/timetable.ts
  src/pages/home/timeline/index.tsx
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/table.tsx
  src/pages/home/timeline/timeSpan.tsx
  src/services/calendar.ts
  src/services/index.ts
  src/services/plan.ts
Due: eslint --fix, prettier --write

fix(timetable): calendar event start position not align with it start time
  src/constants/timetable.ts
  src/pages/home/index.tsx
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/table.tsx
  src/pages/home/timeline/timeSpan.tsx
Due: eslint --fix, prettier --write

fix: time table row border override calendar events #79
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/timeSpan.tsx
Due: eslint --fix, prettier --write

feat: save work session base on afk metrics #78
  src-tauri/src/db/browser.rs
  src-tauri/src/db/migration.rs
  src-tauri/src/db/mod.rs
  src-tauri/src/db/sqlite.rs
  src-tauri/src/db/window.rs
  src-tauri/src/db/work_session.rs
  src-tauri/src/metric/categorizer/processor.rs
  src-tauri/src/metric/collector/afk.rs
  src-tauri/src/metric/schema.rs
Due: rustfmt

fix(afk): immediately open a temporary new session after close prev session #78
  src-tauri/src/db/work_session.rs
Due: rustfmt

feat(afk metric): display working session on dashboard
  src-tauri/src/db/browser.rs
  src-tauri/src/db/window.rs
  src-tauri/src/db/work_session.rs
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/table.tsx
  src/pages/home/timeline/timeSpan.tsx
  src/services/calendar.ts
  src/utils/time.ts
Due: eslint --fix, prettier --write, rustfmt

fix: ui components not fit in a small event (15 & 30 minute last)
  src-tauri/src/metric/categorizer/processor.rs
  src/constants/timetable.ts
  src/pages/home/timeline/index.tsx
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/span/calendarEvent.tsx
  src/pages/home/timeline/span/workSession.tsx
  src/pages/home/timeline/timeSpan.tsx
Due: eslint --fix, prettier --write, rustfmt

add project row
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/tableHeader.tsx
Due: eslint --fix, prettier --write

feat(event): show activity categorization
  src-tauri/tauri.conf.json
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/span/calendarEvent.tsx
  src/services/activityLog.ts
  src/services/calendarEvent.ts
  src/services/index.ts
Due: eslint --fix, prettier --write

temporarily remove project column
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/tableHeader.tsx
Due: eslint --fix, prettier --write

remove old UI source code
  barrelsby.json
  bun.lockb
  package.json
  src/components/index.ts
  src/components/sidebar.tsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/datepicker.tsx
  src/components/ui/timepicker.tsx
  src/components/ui/tooltip.tsx
  src/global.d.ts
  src/interfaces/domTarget.ts
  src/interfaces/index.ts
  src/interfaces/task.ts
  src/main.tsx
  src/pages/home/index.tsx
  src/pages/home/timeline/index.tsx
  src/pages/home/timeline/row.tsx
  src/pages/home/timeline/span/calendarEvent.tsx
  src/pages/home/timeline/span/workSession.tsx
  src/pages/home/timeline/table.tsx
  src/pages/home/timeline/tableHeader.tsx
  src/routes/__root.tsx
  src/routes/index.tsx
  src/services/index.ts
  src/utils/cn.ts
  src/utils/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json}
  rustfmt: any of: **/*.rs
