Repository TickLabVN/tpulse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt

.lintstagedrc:

{
    "**/*.{ts,tsx}": ["eslint --fix"],
    "**/*.{ts,tsx,json}": ["prettier --write"],
    "**/*.rs": ["rustfmt"]
}

fix: temporarily remove event_handler
  src-tauri/src/main.rs
Due: rustfmt

fix: derive debug and clone for LogModel
  src-tauri/src/models.rs
Due: rustfmt

feat: basic processor modules
  src-tauri/src/raw_metric_processor/mod.rs
  src-tauri/src/raw_metric_processor/processors/browser_tab_processor.rs
  src-tauri/src/raw_metric_processor/processors/default_processor.rs
  src-tauri/src/raw_metric_processor/processors/mod.rs
  src-tauri/src/raw_metric_processor/processors/vscode_processor.rs
  src-tauri/src/raw_metric_processor/processors/youtube_processor.rs
Due: rustfmt

feat: basic framework for raw metric processor
  src-tauri/src/event_handler.rs
  src-tauri/src/lib.rs
  src-tauri/src/raw_metric_processor/mod.rs
Due: rustfmt

refactor: move some models into processed result
  src-tauri/src/models.rs
  src-tauri/src/raw_metric_processor/mod.rs
Due: rustfmt

fix(timetable): update zoom scale calculation
  bun.lockb
  docs/timetable.md
  package.json
  src/main.tsx
  src/pages/home/index.tsx
  src/pages/home/timeline/table.tsx
Due: eslint --fix, prettier --write

chore(timetable): change y-axis time display
  src/pages/home/timeline/table.tsx
Due: eslint --fix, prettier --write

feat(database): normalize database structure, remove redundant data
  src-tauri/src/initializer/db.rs
  src-tauri/src/sqlite.rs
  yarn.lock
Due: rustfmt

fix(new-crud-task): add new mechanism for place event and add task
  .barrelsby.json
  bun.lockb
  package.json
  public/icons/vsc-icon.jpg
  public/icons/youtube-icon.jpg
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/google_calendar.rs
  src-tauri/src/main.rs
  src-tauri/src/metrics.rs
  src-tauri/src/watcher/browser/mod.rs
  src-tauri/src/watcher/window/mod.rs
  src/components/index.ts
  src/components/ui/datepicker.tsx
  src/components/ui/timepicker.tsx
  src/hooks/index.ts
  src/hooks/useOutsideClick.ts
  src/interfaces/event.ts
  src/interfaces/index.ts
  src/interfaces/task.ts
  src/main.tsx
  src/pages/TaskDialog.tsx
  src/pages/home/TodayTask.tsx
  src/pages/home/task/InputItem.tsx
  src/pages/home/task/TaskDialog.tsx
  src/pages/home/timeline/event.tsx
  src/pages/home/timeline/index.tsx
  src/pages/home/timeline/table.tsx
  src/services/index.ts
  src/services/syncTask.ts
  src/states/index.ts
  src/states/task.state.ts
  src/utils/filterEvent.ts
  src/utils/index.ts
  tailwind.config.js
Due: eslint --fix, prettier --write, rustfmt

chore: add missing dependencies
  bun.lockb
  package.json
Due: prettier --write

chore: add shortut shadcn command
  package.json
Due: prettier --write

fix(ui): fix textColor and textAlign
  src/pages/home/timeline/event.tsx
Due: eslint --fix, prettier --write

feat(show-data): resolve with crud task
  bun.lockb
Due: none

feat(show-data): resolve with new crud-task
  .barrelsby.json
  bun.lockb
  package.json
  public/icons/vsc-icon.jpg
  public/icons/youtube-icon.jpg
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/google_calendar.rs
  src-tauri/src/main.rs
  src-tauri/src/metrics.rs
  src-tauri/src/watcher/window/window_query.rs
  src/components/index.ts
  src/components/ui/datepicker.tsx
  src/components/ui/timepicker.tsx
  src/hooks/index.ts
  src/hooks/useOutsideClick.ts
  src/interfaces/event.ts
  src/interfaces/index.ts
  src/interfaces/task.ts
  src/main.tsx
  src/pages/TaskDialog.tsx
  src/pages/home/TodayTask.tsx
  src/pages/home/task/InputItem.tsx
  src/pages/home/task/TaskDialog.tsx
  src/pages/home/timeline/event.tsx
  src/pages/home/timeline/index.tsx
  src/pages/home/timeline/table.tsx
  src/services/index.ts
  src/services/syncTask.ts
  src/states/index.ts
  src/states/task.state.ts
  src/utils/filterEvent.ts
  src/utils/index.ts
  tailwind.config.js
Due: eslint --fix, prettier --write, rustfmt

chore(oauth): split google-oauth from google-calendar
  src-tauri/src/google_calendar.rs
  src-tauri/src/google_oauth.rs
  src-tauri/src/lib.rs
Due: rustfmt

chore: fix compile error
  src-tauri/src/metrics.rs
  src-tauri/src/watcher/browser/mod.rs
  src-tauri/src/watcher/window/mod.rs
  src-tauri/src/watcher/window/window_query.rs
Due: rustfmt

refactor: move constants to config module
  src-tauri/src/config/mod.rs
  src-tauri/src/config/oauth.rs
  src-tauri/src/google_calendar.rs
  src-tauri/src/lib.rs
Due: rustfmt

chore: create raw_metric_processor module
  src-tauri/src/lib.rs
  src-tauri/src/raw_metric_processor/mod.rs
Due: rustfmt

feat(raw-metrics): resolve with origin raw metric
  src-tauri/src/initializer/db.rs
  src-tauri/src/raw_metric_processor/processors/browser_tab_processor.rs
Due: rustfmt

feat: add last_processor_id and frozen method
  src-tauri/src/raw_metric_processor/mod.rs
Due: rustfmt

feat: implement logic for pagination using start and end time
  bun.lockb
  src-tauri/src/event_handler.rs
  src-tauri/src/initializer/db.rs
  src-tauri/src/main.rs
  src-tauri/src/models.rs
  src-tauri/src/sqlite.rs
Due: rustfmt

feat: use into_variant crate to simplify handling of variants
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/metrics.rs
  src-tauri/src/raw_metric_processor/mod.rs
Due: rustfmt

feat(task): get all tasks in current day
  .eslintrc.cjs
  src-tauri/src/config/mod.rs
  src-tauri/src/config/oauth.rs
  src-tauri/src/config/user.rs
  src-tauri/src/db/mod.rs
  src-tauri/src/db/sqlite.rs
  src-tauri/src/initializer/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/sqlite.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/watcher/afk.rs
  src/hooks/useEventListener.ts
  src/pages/DayView.tsx
  src/pages/TaskDialog.tsx
  src/pages/home/TodayTask.tsx
  src/services/db.ts
  src/services/task.ts
Due: eslint --fix, prettier --write, rustfmt

Revert "feat: implement logic for pagination using start and end time"
  bun.lockb
  src-tauri/src/event_handler.rs
  src-tauri/src/initializer/db.rs
  src-tauri/src/main.rs
  src-tauri/src/models.rs
  src-tauri/src/sqlite.rs
Due: rustfmt

refactor: event handler listen data from processors instead of raw data
  src-tauri/src/event_handler.rs
  src-tauri/src/initializer/db.rs
  src-tauri/src/main.rs
  src-tauri/src/models.rs
  src-tauri/src/sqlite.rs
Due: rustfmt

feat: handle afk user event
  src-tauri/src/metrics.rs
  src-tauri/src/raw_metric_processor/mod.rs
Due: rustfmt

docs: handle_metric
  src-tauri/src/raw_metric_processor/mod.rs
Due: rustfmt

fix: use unix time for activities and logic of processor manager
  src-tauri/src/raw_metric_processor/mod.rs
Due: rustfmt

feat: basic framework for raw metric processor
  src-tauri/src/lib.rs
  src-tauri/src/raw_metric_processor/mod.rs
Due: rustfmt
